@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: "Gloria Hallelujah", serif;
}


img {
    display: block;
    width: 100%;
}

input, textarea {
    font-family: 'Inter', sans-serif;
}

input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    border: 4px solid;
    background: none;
}

/* input:focus, textarea:focus {
    background-color: #fff0f3;
} */

.love-btn {
    border-right: 4px solid #ff8fa3;
    border-bottom: 4px solid #ff8fa3;
}

.card {
    font-family: "Gloria Hallelujah", serif;
}